.navbar {
    background: #f0f0f0;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.list{
    list-style: none;
}
.listItem {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
}
